<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ds.mapper.StoreMapper">
	<select id="read" resultType="com.ds.domain.StoreVO">
		select * from test_tbl
	</select>
	<select id="cateList" resultType="java.util.Map">
		select * from tb_cate
	</select>
	
	<insert id="Regist">
	insert into tb_store values(#{snum},#{sname},#{password},#{address},#{longitude},#{latitude},#{phone})
	</insert>
	<select id="getList" resultType="com.ds.domain.StoreVO">
		<![CDATA[
			select sid,sname,latitude, longitude 
			from map_tbl where calc_distance(#{latitude},#{longitude},latitude,longitude)<#{length}
		 ]]>
	</select>


</mapper>






